.editor-styles-wrapper,
.editor-styles-wrapper .editor-writing-flow,
.editor-styles-wrapper p,
.editor-styles-wrapper .wp-block p {
  font:    15px / 23px "Open Sans", Helvetica, Arial, Verdana, sans-serif;
  word-spacing: normal;
}
.editor-styles-wrapper .wp-block-cover .wp-block-cover-text,
.editor-styles-wrapper .wp-block-cover h2 {
  font:   bold 26px / 32px "Open Sans Condensed", Helvetica, Arial, Verdana, sans-serif !important;
  text-transform: uppercase;
}
.text-big,
.dt-accordion-text-big .wpb_accordion_header > a {
  font-size: 15px;
  line-height: 23px;
}
.text-normal,
.dt-accordion-text-normal .wpb_accordion_header > a {
  font-size: 14px;
  line-height: 22px;
}
.text-small,
.dt-accordion-text-small .wpb_accordion_header > a {
  font-size: 12px;
  line-height: 20px;
}
.wp-block-heading h1,
.wp-block-freeform.block-library-rich-text__tinymce > h1 {
  font:   bold 40px / 46px "Open Sans Condensed", Helvetica, Arial, Verdana, sans-serif;
  text-transform: uppercase;
}
.wp-block-heading h2,
.wp-block-freeform.block-library-rich-text__tinymce > h2 {
  font:   bold 34px / 40px "Open Sans Condensed", Helvetica, Arial, Verdana, sans-serif;
  text-transform: uppercase;
}
.wp-block-heading h3,
.wp-block-freeform.block-library-rich-text__tinymce > h3 {
  font:   bold 26px / 32px "Open Sans Condensed", Helvetica, Arial, Verdana, sans-serif;
  text-transform: uppercase;
}
.wp-block-heading h4,
.wp-block-freeform.block-library-rich-text__tinymce > h4 {
  font:   bold 20px / 26px "Open Sans Condensed", Helvetica, Arial, Verdana, sans-serif;
  text-transform: uppercase;
}
.wp-block-heading h5,
.wp-block-freeform.block-library-rich-text__tinymce > h5 {
  font:   bold 18px / 24px "Open Sans Condensed", Helvetica, Arial, Verdana, sans-serif;
  text-transform: uppercase;
}
.wp-block-heading h6,
.wp-block-freeform.block-library-rich-text__tinymce > h6 {
  font:   300 16px / 22px "Open Sans Condensed", Helvetica, Arial, Verdana, sans-serif;
  text-transform: none;
}
.editor-styles-wrapper .wp-block .wp-block-button .wp-block-button__link {
  font:   bold 16px / 18px "Open Sans Condensed", Helvetica, Arial, Verdana, sans-serif;
  text-transform: uppercase;
}
